/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

div.grid-card-component {
    a img {
        min-height: 16rem;
        max-height: 16rem;
        width: 100%;
        margin-bottom: 1rem;
        border-radius: $global-border-radius;
    }

    a.link {
        display: block;
    }
}
