/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@import "../../colors";
@import "../../appearance";

div.modal {
    div.modal-content {
        background-color: $color-secondary-darker;
        padding: 1.5rem;
        border-radius: $global-border-radius;

        button.delete {
            cursor: pointer;
            float: right;
        }

        button.danger {
            float: right;
        }
    }
}
