/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@import "./colors";

.choices {
    margin-bottom: 24px !important;

    .choices__inner {
        border-color: $color-secondary;
        background-color: $color-secondary;

        &:hover,
        &:focus {
            transition: all .2s !important;
            border-color: $color-primary;
        }
    }

    .choices__list--dropdown {
        background-color: $color-secondary;

        .choices__item,
        .choices__item--choice {
            color: $color-white;
            padding-right: unset !important;

            &.is-highlighted {
                background-color: $color-secondary-lighter;
            }
        }
    }

    &[data-type*=select-multiple] {
        input.choices__input {
            background-color: transparent;
        }

        .choices__list--multiple {
            .choices__item {
                background-color: $color-secondary-more-lighter;
                border: none;

                &.choices__item--selectable {
                    cursor: default;
                }

                button {
                    border: none;
                    margin: unset;
                }
            }
        }
    }
}
