/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

$color-primary: #008ba3;
$color-secondary: #424242;

$color-primary-lighter: lighten($color-primary, 10%);
$color-primary-darker: darken($color-primary, 10%);

$color-secondary-lighter: lighten($color-secondary, 5%);
$color-secondary-more-lighter: lighten($color-secondary, 10%);
$color-secondary-darker: darken($color-secondary, 10%);

$color-background: #121212;
$color-background-lighter: lighten($color-background, 4%);
$color-background-more-lighter: lighten($color-background, 10%);

$color-background-header: lighten($color-background, 12%);

$color-section: $color-background-lighter;

$color-white: darken(#ffff, 15%);
$color-white-medium: darken(#ffff, 40%);

$color-attention: #af4448;
$color-success: #519657;
