/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@import "./colors";

html {
    background-color: $color-background;
}

div.offline {
    padding-top: 10rem;

    h1, h2 {
        text-align: center;
    }

    .link-container {
        text-align: center;
    }
}
