/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.tippy-box[data-theme~='phantom'] {
    padding: 1rem;

    p {
        font-weight: bold;
    }

    div.tags {
        margin-top: 1rem;

        span.tag {
            margin-right: 0.5rem;
        }
    }
}
