/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

$button-color: $color-white;
$button-text-color: $color-white;
$button-focus-color: $color-white;
$button-active-color: $color-white;
$button-hover-color: $color-white;

$button-background-color: $color-secondary;

$button-border-color: transparent;
$button-focus-border-color: transparent;
$button-hover-border-color: transparent;
$button-active-border-color: transparent;

button.button {
    color: $color-white;
    text-transform: uppercase;
    font-size: 0.7rem;
    min-height: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.06rem;
    margin-bottom: 1rem;
    color: $color-white !important;

    &:hover,
    &:active {
        background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    }

    &.danger {
        background-color: $color-attention;
    }

    svg {
        margin: 0.3rem;
    }
}
