/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

$modal-content-width: 60rem;

$modal-card-title-color: $color-white;
$modal-card-head-background-color: $color-background-more-lighter;
$modal-card-body-background-color: $color-background-more-lighter;
$modal-card-head-border-bottom: 0;
$modal-card-foot-border-top: 0;
