/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@import "../colors";

$tabs-border-bottom-width: 0;
$tabs-link-color: $color-white-medium;
$tabs-link-hover-color: $color-primary;
$tabs-link-active-color: $color-primary;
